body{
    text-align: center;
    font-family: 'tahoma','open sans','sans-serif';
    background-color: hsl(0, 0%, 100%);
}
p{
    color: #111111;
}
.menu{
    overflow: auto;
    text-align: center;
    background-color: #426c35;
    padding-top: 20px;
    padding-bottom: 20px;
}
.photos{
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #f0ede4;
}
.photos img{
    border-style: solid;
    border-width: 20px;
    border-color: #426c35;
    border-radius: 6px;
    margin: 2px;
    object-fit: cover;
    object-position: top;
}